<footer>
	<nav class="navbar">
		<div class="container-fluid p-0">
			<div class="row w-100 m-0">
				<div class="col align-self-start">
					<a class="footer-link" target="_new" href="#">
						<strong>Link 1</strong>
					</a>&nbsp;|&nbsp;
					<a class="footer-link" target="_new" href="#">
						<strong>Link 2</strong>
					</a>&nbsp;|&nbsp;
					<a class="footer-link" target="_new" href="#">
						<strong>Link 3</strong>
					</a>
				</div>
				<div class="col align-self-center">
					<h6 class="app-version text-center">{{version}}</h6>
				</div>
				<div class="col align-self-end">
					<h6 class="app-copyright text-right">Copyright &copy;2018 by Rohit Narayanan</h6>
				</div>
			</div>
		</div>
	</nav>
</footer>