/* ==========================================================================
Navbar
========================================================================== */

@media screen and (max-width: 767px) {
    div.navbar-brand-panel {
        width: 100%;
    }
}

.navbar-title {
    float: left;
    margin-top: 8px;
}

.jh-navbar {
    border: none;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 0px;
}

.jh-navbar .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.jh-navbar .dropdown-toggle::after {
    margin-left: 0.15em;
}

.jh-navbar ul.navbar-nav {
    padding: 0.5em;
}

.jh-navbar .navbar-nav .nav-item {
    margin-left: 1.5rem;
}

.jh-navbar a.nav-link {
    font-weight: 400;
}

.jh-navbar .jh-navbar-toggler {
    color: #353d47;
    font-size: 1.5em;
    padding: 10px;
}

.jh-navbar .jh-navbar-toggler:hover {
    color: #c22c07;
}


/* ==========================================================================
Menu styles
========================================================================== */

.dropdown-toggle::after {
    /*hide drop down arrow on menu headers*/
    display: none;
}

.nav-link {}


/*styles to apply when full menu is visible*/

@media ( min-width: 768px) {
    a.nav-link {
        /*set empty top border for menu headers by default*/
        border-top: solid 4px #fff;
        border-bottom: none;
    }
    a.nav-link:hover {
        /*set styles for menu items on hover*/
        border-top: solid 4px #96c346;
    }
    li.nav-item>ul.dropdown-menu {
        /*Hide sub menu by default*/
        display: none;
        margin: 0px;
    }
    li.nav-item:hover>.dropdown-menu {
        /*Open sub menu on hover*/
        display: block;
    }
    a.dropdown-item {
        /*set default border for sub menu items*/
        border-left: 6px solid #fff;
    }
    a.dropdown-item:hover {
        /*set styles for sub menu items on hover*/
        border-left: 6px solid #96c346;
    }
}


/* ==========================================================================
Logo styles
========================================================================== */

.logo-img {
    height: 45px;
    width: 70px;
    display: inline-block;
    vertical-align: middle;
    background: url("../../../content/images/logo-jhipster.png") no-repeat center center;
    background-size: contain;
}